<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet-draw/dist/leaflet.draw.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet-search/dist/leaflet-search.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet.fullscreen/Control.FullScreen.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas-d3.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.svg') }}" alt="inowas-logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tools</a></li>
                <li class="active"><a href="#">Models</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Models</a></li>
            <li><a href="#">Modflow</a></li>
            <li class="modelname active">Create</li>
        </ol>
    </div>

    <h1>Create Model</h1>
    <h2>General Information</h2>

    <div class="row equal">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Choose a modelname</h3>
                    <div class="form-group">
                        <label for="modelname">
                            Give your models a identifying name you will
                            remember them by.
                        </label>
                        <input id="modelname" type="text" class="form-control" placeholder="Modelname">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Description</h3>
                    <div class="form-group">
                        <label for="description">
                            Write a short description to remember and introduce others
                            your ideas.
                        </label>
                        <textarea class="form-control" rows="2" id="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Draw your model area</h2>
    <div class="row equal">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="area-map" class="panel-body map"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div id="area-map-description" class="panel-body">
                    <h3>Please draw your model-area</h3>
                </div>
            </div>
        </div>
    </div>

    <h2>Model Properties</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Choose a Gridsize</h3>
                    <div class="form-group">
                        <label for="gridsize">
                            Select a grid-size for calculation.
                            Please note, a small size gives faster
                            results and a big mesh size gives
                            more accurate results.
                        </label>
                        <select id="gridsize" class="form-control">
                            <option value="15x15">Smallest mesh (15x15)</option>
                            <option value="30x30">Small mesh (30x30)</option>
                            <option value="50x50" selected>Normal mesh (50x50)</option>
                            <option value="100x100">Big mesh (100x100)</option>
                            <option value="1000x1000">Biggest mesh (1000x1000)</option>
                        </select>
                    </div>

                    <h3>Choose number of layers</h3>
                    <div class="form-group">
                        <label for="stress_periods">
                            Select the number of layers of the Soilmodel.
                        </label>
                        <select id="soilmodel_number_of_layers" class="form-control">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grid-map" class="panel-body grid-map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" id="btn_create" class="btn btn-danger btn-lg btn-block">Create Model</button>
        </div>
    </div>

    <div class="row top-margin-40">
    </div>
</div>

<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet-draw/dist/leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet.fullscreen/Control.FullScreen.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet-search/dist/leaflet-search.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/inowas.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas.model.modflow.create.js') }}"></script>

<script>
    I.user.setApiKey('{{ apiKey }}');
</script>


</body>
</html>
