<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Modflow-Model {{ model.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/Leaflet.EasyButton/src/easy-button.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet-draw/dist/leaflet.draw.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet.fullscreen/Control.FullScreen.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/c3/c3.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas-d3.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('modflow_model_list') }}">
                <img src="{{ asset('img/logo.png') }}" alt="inowas-logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tools</a></li>
                <li class="active"><a href="#">Models</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li>Models</li>
            <li><a href="{{ path('modflow_model_list') }}">Modflow</a></li>
            <li class="modelname active"><a href="{{ path('modflow_model', {'id': model.id.toString}) }}">{{ model.name }}</a></li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <img class="img-thumbnail" src="{{ asset('img/map_icons/south-america.svg') }}" style="margin-top: 18px">
        </div>
        <div class="col-sm-11">
            <h3 class="modelname">{{ model.name }}</h3>
            <p class="pull-right">{State}</p>
            <p class="modelsummary">
                Groundwater Model: {{ model.createTextOverview }},
                Last modified: {{ model.dateModified | date("d-m-Y") }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <hr>
            <h4>
                <a href="{{ path('modflow_model_modflow_scenarios_list', {'id': model.id.toString}) }}">Scenarios: {{ model.getScenarios | length }}</a>
            </h4>
        </div>
    </div>
    <hr>

    <div class="row top-margin-40">
        <div class="col-sm-2">
            <nav class="side_nav">
                <ul id="stacked-menu" class="nav-stacked">
                    <li> <a class="side_nav_link summary"   href="javascript:void(0)">Summary</a></li>
                    <li> <a class="side_nav_link area"   href="javascript:void(0)">Model area</a></li>
                    <li {% if not user.isAdmin %} hidden {% endif %}> <a class="side_nav_link soilmodel" href="javascript:void(0)">Soil properties</a></li>
                    <li>
                        <a class="side_nav_link boundaries nav-container active" href="#boundaries_submenu" data-toggle="collapse" data-parent="#stacked-menu">Boundaries</a>
                        <ul id="boundaries_submenu" class="nav-stacked collapse">
                            <li data-toggle="collapse" data-parent="#boundaries_submenu">
                                <a class="side_nav_link wells" href="javascript:void(0)">Wells</a>
                            </li>
                            <li data-toggle="collapse" data-parent="#boundaries_submenu">
                                <a class="side_nav_link rivers" href="javascript:void(0)">Rivers</a>
                            </li>
                            <li {% if not user.isAdmin %} hidden {% endif %} data-toggle="collapse" data-parent="#boundaries_submenu">
                                <a class="side_nav_link recharge" href="javascript:void(0)">Recharge</a>
                            </li>
                            <li {% if not user.isAdmin %} hidden {% endif %} data-toggle="collapse" data-parent="#boundaries_submenu">
                                <a class="side_nav_link constant_head" href="javascript:void(0)">Constant Head</a>
                            </li>
                            <li {% if not user.isAdmin %} hidden {% endif %} data-toggle="collapse" data-parent="#boundaries_submenu">
                                <a class="side_nav_link general_head" href="javascript:void(0)">General Head</a>
                            </li>
                        </ul>
                    </li>
                    <li> <a class="side_nav_link calculation" href="javascript:void(0)">Calculation</a></li>
                    <li> <a class="side_nav_link results" href="javascript:void(0)">Results</a></li>
                    <li {% if not user.isAdmin %} hidden {% endif %}> <a class="side_nav_link history" href="javascript:void(0)">History</a></li>
                    <li {% if not user.isAdmin %} hidden {% endif %}> <a class="side_nav_link delete" href="javascript:void(0)">Delete</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div id="summary">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 content_summary">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="panel panel-default">
                                            <div id="map-summary" class="panel-body map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="area">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="map-area" class="panel-body map"></div>
                            <button id="btn_save_area" type="button" style="position: absolute; bottom: 60px; left: 35px; display: none" class="btn btn-danger pull-left">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="soilmodel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 content_soilmodel"></div>
                                    <div class="col-sm-8">
                                        <div class="panel panel-default">
                                            <div id="soilmodel-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boundaries">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="boundaries-map" class="panel-body map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wells">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="wells-map" class="panel-body map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rivers">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="rivers-map" class="panel-body map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="calculation">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="content_calculation">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="results">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="heads-map" class="panel-body map"></div>
                        </div>
                    </div>
                </div>
                <div class="row chart_rows" hidden>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="chart_rows" class="panel-body chart"></div>
                        </div>
                    </div>
                </div>
                <div class="row chart_cols" hidden>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="chart_cols" class="panel-body chart"></div>
                        </div>
                    </div>
                </div>
                <div class="row chart_ts" hidden>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div id="chart_ts" class="panel-body chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="history">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>History</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="delete">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Delete Model</h2>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button id="btn_delete_model" type="button" class="btn btn-danger btn-block">Delete Model</button>
                                    </div>
                                    <div class="col-sm-8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/Leaflet.EasyButton/src/easy-button.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet-draw/dist/leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet.fullscreen/Control.FullScreen.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet-slider/SliderControl.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/d3/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/c3/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/rainbowvis.js/rainbowvis.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/inowas.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas.model.modflow.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-d3.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-leaflet.js') }}"></script>

<script>

    I.user.setApiKey('{{ user.getApiKey }}');
    I.model.initialize('{{ model.id.toString }}');

    $(document).ready(function() {
        $(".summary").click();
    });

</script>
</body>
</html>