{% set baseModel = scenarios[0].basemodel %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Modflow-Models</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.svg') }}" alt="inowas-logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tools</a></li>
                <li class="active"><a href="#">Models</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Models</a></li>
            <li><a href="#">Modflow</a></li>
            <li><a href="#">{{ scenarios[0].baseModel.name }}</a></li>
            <li><a href="#">Scenarios</a></li>
        </ol>
    </div>

    <div class="top-margin-40">
        <div class="row">
            <div class="col-sm-4">
                <h3><a href="{{ path('modflow_model', {'id': baseModel.id.toString})  }}"> {{ baseModel.name }} </a></h3>
                <img class="img-responsive img-thumbnail" src="{{ asset('img/base_scenario.png') }}" style="margin-top: 18px">
                <p class="modelsummary">Base Model</p>
            </div>

            {% for scenario in scenarios %}
            <div class="col-sm-4">
                    <h3><a href="{{ path('modflow_model_modflow_scenario', {'modelId': scenario.baseModel.id.toString, 'scenarioId': scenario.id.toString})  }}"> {{ scenario.name }}</a></h3>
                    <img class="img-responsive img-thumbnail" src="{{ asset( scenario.imageFile ) }}" style="margin-top: 18px">
                    <p class="modelsummary">{{ scenario.description }}</p>
            </div>
            {% endfor %}

            <div class="col-sm-4">
                <h3 class="modelname">&nbsp;</h3>
                <img class="img-responsive img-polaroid img-thumbnail" src="{{ asset('img/add_scenario.png') }}" style="margin-top: 18px">
                <p>Add scenario</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

</body>
</html>