<h2>Geological Layers</h2>
<div class="panel-group" id="accordion">
    {% for layer in layers %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ layer.order }}">
                        Layer {{ layer.order + 1 }} ({{ layer.name }})
                    </a>
                </h3>
            </div>
            <div id="collapse{{ layer.order }}" class="panel-collapse collapse {% if layer.order == 0 %} in {% endif %}">
                <table class="table">
                    <tbody>
                    {% for property in layer.properties %}
                        <tr>
                            <td>
                                <button type="button" onclick="loadLayerImg('{{ modelId }}', '{{ layer.order }}', '{{ property.propertyType.abbreviation }}')" class="btn btn-default">{{ property.propertyType.abbreviation }}</button>
                            </td>
                            <td>
                                {{ property.propertyType.description }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>