<h2>Summary</h2>
<h3>Description</h3>
<p class="modeldescription">{{ model.description }}</p>
<p class="layers"></p>
<p class="gridsize"></p>
<h3>Area</h3>
<p>Surface: {{ model.area.surface }} sqm</p>
<h3>Soilmodel</h3>
<p>
    Layers: {{ model.soilmodel.getNumberOfGeologicalLayers }}<br/>
    Rows: {{ model.gridsize.ny }}<br/>
    Columns: {{ model.gridsize.nx }}
</p>
<h3>
    Stressperiods({{ model.stressPeriods|length }})
</h3>
<p>
    <ul>
    {% for stressperiod in model.stressPeriods %}
        <li>
            {{ stressperiod.dateTimeBegin | date('d/m/Y') }} -
            {{ stressperiod.dateTimeEnd | date('d/m/Y') }} -
            {% if stressperiod.steady %}
                steady state
            {% else %}
                transient
            {% endif %} -
            Timesteps: {{ stressperiod.numberOfTimeSteps }}
        </li>
    {% endfor %}
    </ul>
</p>