<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Scenario {{ scenario.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/c3/c3.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas-d3.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.svg') }}" alt="inowas-logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tools</a></li>
                <li class="active"><a href="#">Models</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Models</a></li>
            <li><a href="#">Modflow</a></li>
            <li class="modelname active">{{ scenario.getModel.name }}</li>
            <li><a href="#">Scenarios</a></li>
            <li><a href="#">{{ scenario.name }}</a></li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <img class="img-thumbnail" src="{{ asset( scenario.imageFile) }}" style="margin-top: 18px">
        </div>
        <div class="col-sm-11">
            <h3 class="modelname">{{ scenario.name }}</h3>
            <p class="modelsummary">{{ scenario.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <hr>
            <h4><a href="{{ path('modflow_model', {'id': scenario.model.id }) }}">Basemodel: {{ scenario.model.name }}</a></h4>
        </div>
    </div>
    <hr>
    <div class="row top-margin-40">
        <div class="col-sm-2">
            <nav class="side_nav">
                <ul>
                    <li> <a class="side_nav_link summary"   href="javascript:void(0)">Summary</a></li>
                    <li> <a class="side_nav_link soilmodel" href="javascript:void(0)">Soil properties</a></li>
                    <li> <a class="side_nav_link boundaries active" href="javascript:void(0)">Boundaries</a></li>
                    <li> <a class="side_nav_link calculation" href="javascript:void(0)">Calculation</a></li>
                    <li> <a class="side_nav_link results" href="javascript:void(0)">Results</a></li>
                    <li> <a class="side_nav_link history" href="javascript:void(0)">History</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div id="summary">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 content_summary">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div id="area-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="soilmodel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 content_soilmodel"></div>
                                    <div class="col-sm-8">
                                        <div class="panel panel-default">
                                            <div id="soilmodel-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boundaries">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div id="boundaries-map" class="panel-body map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="calculation">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Calculation</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="results">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div id="results-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 content_results">
                                        <div class="panel panel-default">
                                            <p style="text-align: center">Groundwater Heads</p>
                                            <div id="result_chart_heads"></div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div id="result_chart_boundaries"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="history">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>History</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/d3/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/c3/c3.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/inowas.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-d3.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-leaflet.js') }}"></script>

<script>
    var modelId = '{{ scenario.id.toString }}';
    var soilmodel_map;
    $(document).ready(function() {$(".summary").click();});
</script>
</body>
</html>