<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>INOWAS HTML-ToolBox</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/leaflet/dist/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inowas-d3.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.svg') }}" alt="inowas-logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tools</a></li>
                <li class="active"><a href="#">Models</a></li>
                <li><a href="#">Soilmodels</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Models</a></li>
            <li><a href="#">Modflow</a></li>
            <li class="modelname active">{{ model.id }}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <img class="img-thumbnail" src="{{ asset('img/asia.png') }}" style="margin-top: 18px">
        </div>
        <div class="col-sm-11">
            <h3 class="modelname">Hanoi II</h3>
            <p class="modelsummary"></p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <hr>
            <h4>Here can go some more Status-Information</h4>
        </div>
    </div>
    <hr>

    <div class="row top-margin-40">
        <div class="col-sm-2">
            <nav class="side_nav">
                <ul>
                    <li> <a class="side_nav_link summary"   href="javascript:void(0)">Summary</a></li>
                    <li> <a class="side_nav_link soilmodel" href="javascript:void(0)">Soilmodel</a></li>
                    <li> <a class="side_nav_link boundaries active" href="javascript:void(0)">Boundaries</a></li>
                    <li> <a class="side_nav_link calculation" href="javascript:void(0)">Calculation</a></li>
                    <li> <a class="side_nav_link results" href="javascript:void(0)">Results</a></li>
                    <li> <a class="side_nav_link history" href="javascript:void(0)">History</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div id="summary">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Description</h3>
                                        <p class="modeldescription"></p>
                                        <p class="layers"></p>
                                        <p class="gridsize"></p>
                                        <h3>Area</h3>
                                        <p class="area_surface"></p>
                                        <h3>Soilmodel</h3>
                                        <p class="soilmodelsummary"></p>
                                        <h3>Stressperiods</h3>
                                        <ul class="stressperiods">
                                            <li class=""></li>
                                            <li class=""></li>
                                            <li class=""></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div id="area-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="soilmodel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Points</h2>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div id="soil-model-map" class="panel-body map"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            Here can go a visualisation of the geological profile of the geological point
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boundaries">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Wells</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Rivers</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>General Head Boundaries</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="calculation">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Calculation</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="results">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Results</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="history">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>History</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/d3/d3.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/inowas.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-d3.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/inowas-leaflet.js') }}"></script>

<script>
    $(document).ready(function() {
        $(".summary").click();
        $.getJSON( "/api/models/{{ model.id }}.json", function( data ) {
            $(".modelname").text(data.name);
            $(".modeldescription").text(data.description);
            $(".modelsummary").text("Groundwater Model: " + data.modelsummary);
            $(".soilmodelsummary").text(data.modelsummary);
        });

        $.getJSON( "/api/areas/{{ model.area.id }}.json", function( data ) {
            $(".area_surface").text("Surface: " + data.surface + " sqm");
        });
    });

</script>
</body>
</html>